<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.5.1/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://rawcdn.githack.com/python-visualization/folium/master/folium/templates/leaflet.awesome.rotate.css"/>
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_bdee3e868b58461e8bc0719916dc99c0 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_bdee3e868b58461e8bc0719916dc99c0" ></div>
        
</body>
<script>    
    
            var map_bdee3e868b58461e8bc0719916dc99c0 = L.map(
                "map_bdee3e868b58461e8bc0719916dc99c0",
                {
                    center: [12.9762, 77.6033],
                    crs: L.CRS.EPSG3857,
                    zoom: 5,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_9090c9d8f63247e3bdb0f3d76ce49507 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_bdee3e868b58461e8bc0719916dc99c0);
        
    
            var marker_7446aa7d713541399f7716c3653abef9 = L.marker(
                [12.9762, 77.6033],
                {}
            ).addTo(map_bdee3e868b58461e8bc0719916dc99c0);
        
    
        var popup_255c1ff6785a4605aec921b87f175759 = L.popup({"maxWidth": "100%"});

        
            var html_1fd0ee39a1364e81a3b6a5d76a25dbbc = $(`<div id="html_1fd0ee39a1364e81a3b6a5d76a25dbbc" style="width: 100.0%; height: 100.0%;">bengaluru</div>`)[0];
            popup_255c1ff6785a4605aec921b87f175759.setContent(html_1fd0ee39a1364e81a3b6a5d76a25dbbc);
        

        marker_7446aa7d713541399f7716c3653abef9.bindPopup(popup_255c1ff6785a4605aec921b87f175759)
        ;

        
    
    
                function newMarker(e){
                    var new_mark = L.marker().setLatLng(e.latlng).addTo(map_bdee3e868b58461e8bc0719916dc99c0);
                    new_mark.dragging.enable();
                    new_mark.on('dblclick', function(e){ map_bdee3e868b58461e8bc0719916dc99c0.removeLayer(e.target)})
                    var lat = e.latlng.lat.toFixed(4),
                       lng = e.latlng.lng.toFixed(4);
                    new_mark.bindPopup("Waypoint");
                    };
                map_bdee3e868b58461e8bc0719916dc99c0.on('click', newMarker);
            
</script>